## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from google.colab import files
import os
from tensorflow.keras.callbacks import ModelCheckpoint
# !pip install keras-tuner
# import keras_tuner as kt


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
application_df.nunique()
#name not unique but EIN is

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
name_count = application_df.NAME.value_counts()

In [ ]:
name_binning = name_count[name_count>50]
name_binning

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
LAMBDA THETA ALPHA                                                      52
Name: NAME, dtype: int64

In [ ]:
# use the variable name `application_types_to_replace`
names_to_replace = list(name_count[name_count<300].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                              29662
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
Name: NAME, dtype: int64

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(['EIN'], axis=1)
df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,Other,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,Other,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,Other,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,Other,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,Other,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
df.STATUS.value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [ ]:
df = df[df["STATUS"]==1]
df = df.drop(["STATUS"], axis=1)
df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,Other,T4,Independent,C1000,ProductDev,Association,0,N,5000,0
34295,Other,T4,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
34296,Other,T3,CompanySponsored,C2000,Preservation,Association,0,N,5000,0
34297,Other,T5,Independent,C3000,ProductDev,Association,0,N,5000,1
34298,Other,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
print(df.nunique())

NAME                         9
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_val_counts = df.APPLICATION_TYPE.value_counts()
app_val_counts

T3     27032
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_val_counts[app_val_counts<1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27032
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_val_counts = df.CLASSIFICATION.value_counts()
class_val_counts

C1000    17323
C2000     6073
C1200     4837
C3000     1918
C2100     1882
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts >1
app_binning = class_val_counts[class_val_counts>1]
app_binning

C1000    17323
C2000     6073
C1200     4837
C3000     1918
C2100     1882
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_val_counts[class_val_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17323
C2000     6073
C1200     4837
Other     2261
C3000     1918
C2100     1882
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df, dtype = float)
df.head(10)

,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,31452,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,7508025,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,94389,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays

#target variable
y = df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [ ]:
#features (drop target)
X = df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[5.0000000e+03, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0859000e+05, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [5.0000000e+03, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [5.0000000e+03, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [5.0000000e+03, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [3.6500179e+07, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [ ]:
# Split the preprocessed data into a training and testing dataset using SKLearn
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 35)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
X_train_scaled

array([[-0.03105041, -0.09352073, -0.11224271, ..., -0.07529674,
         0.02858588, -0.02858588],
       [-0.03105041, -0.09352073, -0.11224271, ..., -0.07529674,
         0.02858588, -0.02858588],
       [-0.03105041, -0.09352073, -0.11224271, ..., -0.07529674,
         0.02858588, -0.02858588],
       ...,
       [-0.03105041, -0.09352073, -0.11224271, ..., -0.07529674,
         0.02858588, -0.02858588],
       [-0.03105041, -0.09352073,  8.90926484, ..., -0.07529674,
         0.02858588, -0.02858588],
       [-0.03105041, -0.09352073, -0.11224271, ..., -0.07529674,
         0.02858588, -0.02858588]])

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

#Keras Sequential Model
nn_model = tf.keras.models.Sequential()

nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=len(X_train_scaled[0])))

nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid")) #output


# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3920

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,381
Trainable params: 6,381
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
os.makedirs("model_checkpoints2/",exist_ok=True) #okay if directory already exists
path = "model_checkpoints2/weights.{epoch:02d}.hdf5"
cp = ModelCheckpoint(filepath=path,save_weights_only=True,period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100,callbacks=[cp])

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7288
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5264 - accuracy: 0.7367
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5227 - accuracy: 0.7418
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5202 - accuracy: 0.7432
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5193 - accuracy: 0.7430
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5183 - accuracy: 0.7438
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5173 - accuracy: 0.7431
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5165 - accuracy: 0.7440
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5151 - accuracy: 0.7462
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5151 - accuracy: 0.7457
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5152 - accuracy: 0.7467
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5139 - accuracy: 0.7465
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5132 - accuracy: 0.7466
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5130 - accuracy: 0.7469
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5133 - accuracy: 0.7469
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5125 - accuracy: 0.7475
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5124 - accuracy: 0.7480
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5122 - accuracy: 0.7477
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5118 - accuracy: 0.7486
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5116 - accuracy: 0.7477
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5115 - accuracy: 0.7472
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5113 - accuracy: 0.7486
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5112 - accuracy: 0.7480
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5107 - accuracy: 0.7482
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5108 - accuracy: 0.7488
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5107 - accuracy: 0.7481
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5102 - accuracy: 0.7497
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5104 - accuracy: 0.7491
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5100 - accuracy: 0.7480
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5098 - accuracy: 0.7495
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5093 - accuracy: 0.7500
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5096 - accuracy: 0.7495
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5093 - accuracy: 0.7488
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5094 - accuracy: 0.7495
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5089 - accuracy: 0.7503
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5093 - accuracy: 0.7484
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5088 - accuracy: 0.7495
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5090 - accuracy: 0.7492
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5086 - accuracy: 0.7486
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5086 - accuracy: 0.7498
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5087 - accuracy: 0.7490
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5084 - accuracy: 0.7507
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5083 - accuracy: 0.7491
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5082 - accuracy: 0.7493
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5081 - accuracy: 0.7499
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7489
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5079 - accuracy: 0.7499
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5080 - accuracy: 0.7493
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5076 - accuracy: 0.7499
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5079 - accuracy: 0.7506
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5075 - accuracy: 0.7491
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5080 - accuracy: 0.7500
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5073 - accuracy: 0.7516
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5071 - accuracy: 0.7493
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5075 - accuracy: 0.7505
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5072 - accuracy: 0.7503
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5068 - accuracy: 0.7497
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5071 - accuracy: 0.7498
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5073 - accuracy: 0.7492
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5069 - accuracy: 0.7501
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5069 - accuracy: 0.7502
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5071 - accuracy: 0.7498
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5065 - accuracy: 0.7509
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5066 - accuracy: 0.7495
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5070 - accuracy: 0.7506
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5065 - accuracy: 0.7509
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5064 - accuracy: 0.7517
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5064 - accuracy: 0.7505
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5064 - accuracy: 0.7511
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5059 - accuracy: 0.7510
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5065 - accuracy: 0.7501
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5064 - accuracy: 0.7509
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5056 - accuracy: 0.7503
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5061 - accuracy: 0.7516
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5056 - accuracy: 0.7502
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5061 - accuracy: 0.7506
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5056 - accuracy: 0.7510
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5058 - accuracy: 0.7510
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5057 - accuracy: 0.7511
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5053 - accuracy: 0.7502
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5056 - accuracy: 0.7509
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5057 - accuracy: 0.7514
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5055 - accuracy: 0.7500
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5057 - accuracy: 0.7516
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5055 - accuracy: 0.7508
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5049 - accuracy: 0.7515
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5054 - accuracy: 0.7512
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5054 - accuracy: 0.7506
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5052 - accuracy: 0.7514
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5050 - accuracy: 0.7510
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5047 - accuracy: 0.7512
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5052 - accuracy: 0.7511
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5049 - accuracy: 0.7505
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5051 - accuracy: 0.7503
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5050 - accuracy: 0.7518
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5047 - accuracy: 0.7513
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5050 - accuracy: 0.7507
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5044 - accuracy: 0.7517
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5046 - accuracy: 0.7519
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5047 - accuracy: 0.7510

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5365 - accuracy: 0.7408 - 557ms/epoch - 2ms/step
Loss: 0.5364711284637451, Accuracy: 0.7408444285392761

In [ ]:
# Export our model to HDF5 file
os.makedirs("Models/")
nn_model.save("Models/Optimization_1.h5")
files.download("Models/Optimization_1.h5")